

/*
var for border color
*/
:root {
   --border-color: rgb(71, 9, 48);
  }
/*
universal font
*/
* {
  font-family: "Playfair Display", serif;
}
/*
descendant combinator

background of text that uses <p>, but I picked a color that doesn't really
show up , bc I didnt really have a place for it but its required..
*/
div p {
  background-color: rgb(230, 228, 255);
}
/*
selector list for font weights
*/
h1,h3{
  font-weight: 500;
}
header{
  max-height: 500px;
  position: relative;
}
/*
Style for the title: The ALDC Times
Importance: Size and Style, to mimic newspaper title
*/
 h1 {
  font-style: italic;
  font-size: 2.5cm;
  text-align: center;
  /*blue if border-color is not defined*/
  /*long hand border*/
  border-top: 1.5rem double var(--border-color, blue);
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-bottom-color: hsl(0,0%,5%);

  /*long hand margin*/
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0.8mm;
    /*long hand padding*/
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;

}

/*
Style for the news of the day: It's Pyramid Day!
Set text behin abby picture
*/
.AbbyPic h2 {
  font-weight: 500;
  font-style: normal;
  font-size: 2cm;
  text-align: center;
  position: relative;
  z-index: 1;
  grid-row:1;
  grid-column-start: 1;
  position:relative;
  color: rgba(0, 0, 0, 0.778);
  
}
/*
Center Abby and set her in same spot as h2 text
*/
.AbbyPic{
  display: grid;
  position: relative;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: fit-content;
}
.AbbyPic img{
  grid-row:1;
  grid-column: 1;
  z-index:2;
  margin: auto;
}
/*
Child combinator
Creates a shadow on abby pic
*/
.AbbyPic > img {
  filter: drop-shadow(0 0 50px rgb(0, 0, 0));
}
/*
Style for subtitles
-size, style, STICKY position, background color
*/
h3 {
  font-style: normal;
  font-size: 2.5em;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1px;
  background-color: #f9d3ec;
  border: 2px #e8cade;
}
/*
Style for subtopics
*/
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
}
/*
adjacent sibling combinator and has()
only grabs h4 that has p after it
*/
h4:has(+ p) {
  color: #9d5183;
}


/*
changes background color based on size of screen
*/
@media screen and (min-width: 200px) {
  .box {
    background-color: rgb(241, 236, 252);
  }
}

  @media (min-width: 800px) {
    .box{
    background-color: #fcf0f8;
    }
  }

.flex-container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
}

/*
Past weekend section grouped for padding, width, height, etc. to help illusion of newspaper
*/
#Past-Weekend {
  background-color: rgb(225, 225, 252);
  padding: 20px;
  max-width: 800px;
  min-height: 1300px;
  text-align: justify;
}

/*
This Weeks Agenda section follows box-model and is grouped for padding, width, height, etc. 
*/
#This-Weeks-Agenda{
  background-color: rgb(222, 229, 246);
  padding: 20px; 
  max-width: 800px;
  height: 1450px;
  text-align: left;
}
/*
This is the border around maddie's picture.
Notice border radius!
*/
#MaddiePic{
  max-width: 400px;
  height: 400px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
/*
This creates the double line border below the nav bar 
                  &
handles padding of nav bar
*/
#navUl{
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1.5rem double;
  border-color: color-mix(in srgb, rgb(71, 9, 48) 70%, black 22%);

  list-style-type: none;
  padding: 1px;

}
/*
Nav bar is on left side
Margin: space btwn each link in nav bar
*/
#navLi{
  float: left;
  margin: 1% 11%;
}
/*
Nav bar uses black text, has small padding, no decoration, and is centered in its on "button"
*/
li a {
  &{
    display: block;
    color: black;
    font-size: 5mm;
    text-align: center;
    padding: 10px 10px 10px 10px; /*shorthand padding*/
    text-decoration: none;
    border-radius: 10px;
  }
/*
When hovered over, the nav bar is a purple 
*/
  &:hover {
    background-color: #ac81af;
    color: white;
  }
/*
when actually clicked, it turns to a pink
*/
  &:active {
    background-color: #fdabdf;
    color: white;
}
}
/*
hides the performance video 
*/
#video{
  display:none;
  width: 100px;
}
/*
using two selectors , element.class
button gradient, font color, size, and spacing
*/
button[type="submit"].pyramid-submit {
  background: linear-gradient(to right, #9dd1fe9d, #db7ebe7d);
  border: 1px solid #1e1f1f;
  color: #313335;
  font-weight: bold;
  letter-spacing: 1px;
  /*
  padding helps with size of button
  */
  padding: 6px 15px;
  border-radius: 8px;
}
/*
when hovered over, button looks blue
*/
button[type="submit"].pyramid-submit:hover {
  background: linear-gradient(to right, #8bc6ff, #6aaef0);
}
/*
when clicked, button gets a bit smaller
*/
button[type="submit"].pyramid-submit:active {
  transform: scale(0.98);
}
/*
General sibling 
creates colored box arounf form
*/
#Weekly-Form h3 ~ form {
  background: rgba(243, 196, 241, 0.349);
  border-radius: 8px;
  padding: 20px;
  margin-top: 15px;
}
/*
adjusts footer to viewwidth
*/
footer{
  font-size: 1vw;
}



