

/*
var for border color
*/
@property --border-color {
  syntax: "<color>";
  initial-value: rgb(71, 9, 48);
  inherits: false;
}
/*
universal font
*/
* {
  font-family: "Playfair Display", serif;
}
/*
selector list for font weights
*/
h1,h3{
  font-weight: 500;
}
header{
  max-height: 500px;
}
/*
Style for the title: The ALDC Times
Importance: Size and Style, to mimic newspaper title
*/
 h1 {
  font-style: italic;
  font-size: 2.5cm;
  text-align: center;
  /*blue if border-color is not defined*/
  /*long hand border*/
  border-top: 1.5rem double var(--border-color, blue);
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-bottom-color: hsl(0,0%,5%);

  /*long hand margin*/
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0.8mm;
    /*long hand padding*/
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;

}

/*
Style for the news of the day: It's Pyramid Day!
Set text behin abby picture
*/
.AbbyPic h2 {
  font-weight: 500;
  font-style: normal;
  font-size: 2cm;
  text-align: center;
  position: relative;
  z-index: 1;
  grid-row:1;
  grid-column-start: 1;
  position:relative;
  color: rgba(0, 0, 0, 0.778);
  
}
/*
Center Abby and set her in same spot as h2 text
*/
.AbbyPic{
  display: grid;
  position: relative;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: fit-content;
}
.AbbyPic img{
  grid-row:1;
  grid-column: 1;
  z-index:2;
  margin: auto;
}

/*
Style for subtitles
-size, style, STICKY position, background color
*/
h3 {
  font-style: normal;
  font-size: 2.5em;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1px;
  background-color: #e8cade;
  border: 2px #e8cade;
}
/*
Style for subtopics
*/
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
}
/*
only grabs h4 that has p after it
*/
h4:has(+ p) {
  color: #9d5183;
}

/*
changes background color based on size of screen
*/
@media screen and (min-width: 200px) {
  .box {
    background-color: rgb(241, 236, 252);
  }
}
.box {
  @media (min-width: 800px) {
    background-color: #fcf0f8;
  }
}

.flex-container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
}

/*
Past weekend section grouped for padding, width, height, etc. to help illusion of newspaper
*/
#Past-Weekend {
  border: 1px solid rgba(0, 0, 0, 1); /* shorthand: width, style, color */
  padding: 20px;
  max-width: 800px;
  min-height: 1300px;
  text-align: justify;
}
/*
This Weeks Agenda section follows box-model and is grouped for padding, width, height, etc. 
*/
#This-Weeks-Agenda{
  background-color: rgb(222, 229, 246);
  padding: 20px; 
  max-width: 800px;
  height: 1450px;
  text-align: left;
}
/*
This is the border around maddie's picture.
Notice border radius!
*/
#MaddiePic{
  max-width: 400px;
  height: 400px;
  padding: 0.5em,0.5em,0.5em,0.5em;
}
/*
This creates the double line border below the nav bar 
                  &
handles padding of nav bar
*/
#navUl{
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1.5rem double;
  border-color: color-mix(in srgb, rgb(71, 9, 48) 70%, black 22%);

  list-style-type: none;
  padding: 1px;

  overflow: hidden;
}
/*
Nav bar is on left side
Margin: space btwn each link in nav bar
*/
#navLi{
  float: left;
  margin: 1% 11%;
}
/*
Nav bar uses black text, has small padding, no decoration, and is centered in its on "button"
*/
li a {
  &{
    display: block;
    color: black;
    font-size: 5mm;
    text-align: center;
    padding: 10px 10px 10px 10px; /*shorthand padding*/
    text-decoration: none;
    border-radius: 10px;
  }
/*
When hovered over, the nav bar is a purple 
*/
  &:hover {
    background-color: #ac81af;
    color: white;
  }
/*
when actually clicked, it turns to a pink
*/
  &:active {
    background-color: #fdabdf;
    color: white;
  }
}


/*
hides the performance video 
*/
#video{
  display:none;
  width: 100px;
}
/*
changes color of submit button of form
*/
[type="submit"] {
  background-color: #9dd1fe;
}


footer{
  font-size: 1vw;
}